@model User

@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}

<h2>Регистрация нового пользователя</h2>

<form method="post">
    <div class="mb-3">
        <label for="loginField">Логин</label>
        <input id="loginField" class="form-control" value="@Model.Username" type="text" placeholder="Логин" asp-for="Username"/>
    </div>
    <div class="mb-3">
        <label for="passwordField">Пароль</label>
        <input id="passwordField" class="form-control" value="@Model.Password" type="text" placeholder="Пароль" asp-for="Password"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Зарегистироваться">
</form>

Уже есть аккаунт? <a href="@Url.Action("Login", "Home")">Войти</a>