@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model lw4Web.Pages.GameModel
@{
    ViewData["Title"] = "Главная";
}

<h2>Список игр</h2>
<form method="post">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Разработчик</th>
            <th scope="col">Жанр</th>
        </tr>
        </thead>
        <tr>
            <td>
                <input class="form__input blog-form__input" value="" type="text" asp-for="Game.Title" placeholder="Название"/>
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </td>
            <td>
                <input class="form__input blog-form__input" value="" type="text" asp-for="Game.Developer" placeholder="Разработчик"/>
                <span asp-validation-for="Game.Developer" class="text-danger"></span>
            </td>
            <td>
                <input class="form__input blog-form__input" value="" type="text" asp-for="Game.Genre" placeholder="Жанр"/>
                <span asp-validation-for="Game.Genre" class="text-danger"></span>
            </td>
            <td>
                <input type="submit" value="Сохранить"/><br/>
            </td>
        </tr>
        @if (Model.GetGames().Count != 0)
        {
            @foreach (var game in Model.GetGames())
            {
                <tr>
                    <td>@game.Title</td>
                    <td>@game.Developer</td>
                    <td>@game.Genre</td>
                </tr>
            }
        }
    </table>
</form>